@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5px 40px;
}

/* NavBar Styling */
a {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 10px 20px;
  margin-right: 20px;
}

.navbar {
  background-color: #2d4059;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.navbar p {
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding: 10px;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.nav-menu li {
  list-style-type: none;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: large;
  padding: 10px 20px;
  border: 1px solid transparent;
  margin-right: 20px;
}

.nav-menu a:hover {
  text-decoration: none;
  color: #ea5455;
  font-size: large;
  padding: 10px 20px;
  border: 1px solid #ea5455;
  margin-right: 20px;
}

/* Create Task */

.create-task h1 {
  text-align: center;
}

.task-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0px;
  padding: 30px;
  border: 1px solid grey;
}

.upload-preview {
  width: 400px;
  height: 300px;
  border: 2px solid grey;

  /* upload preview text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: grey;
}

.image-preview-text.inactive {
  display: none;
}

.upload-preview-image {
  display: none;
  width: 100%;
}

.upload-preview-image.active {
  display: block;
  width: 100%;
}

.image-uploader img {
  width: 100%;
  height: 100%;
}

.image-uploader {
  text-align: center;
}

.image-uploader input {
  margin-top: 30px;
  text-align: center;
  width: 75%;
  border: 1px solid red;
}

.task-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.task-detail label {
  font-size: large;
}

.task-detail input {
  width: 300px;
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.task-detail textarea {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
}

button {
  background-color: white;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 7px 20px;
}

button:hover {
  border: 2px solid #ea5455;
  color: #ea5455;
}

/* Score Task */
.search-field input {
  width: 300px;
  height: 40px;
  margin: 10px 0px;
  font-size: large;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 10px;
  padding: 15px 5px;
}

.card img {
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
  margin-right: 10px;
  text-align: center;
}

.score-section {
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid grey;
}
.score-section p {
  margin: 10px 0px;
}

.btn {
  margin-left: 10px;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-page a {
  text-decoration: none;
  color: #ea5455;
  font-size: large;
  padding: 10px 20px;
  margin-right: 20px;
}

.home-page .btn {
  border: 2px solid #ea5455;
  margin-top: 50px;
}

@media screen and (max-width: 640px) {
  /* NavBar Styling */
  a {
    font-size: normal;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .navbar {
    background-color: #2d4059;
    padding: 5px;
  }
  .navbar p {
    font-weight: normal;
    font-size: 5px;
    padding: 5px;
  }
  .nav-menu {
    padding: 5px;
  }

  .nav-menu a {
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .nav-menu a:hover {
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .home-page h2 {
    font-size: 20px;
  }

  .task-panel {
    border: none;
    margin: 10px;
    padding: 10px;
  }

  .image-uploader {
    margin-bottom: 20px;
  }

  .task-detail input,
  textarea {
    margin-bottom: 20px;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin: 10px;
    padding: 15px 5px;
  }

  .card img {
    width: 100%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-container {
    padding: 2px 16px;
    margin-right: 10px;
    text-align: center;
  }

  .score-section {
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid grey;
  }
  .score-section p {
    margin: 10px 0px;
  }

  .btn {
    margin-left: 10px;
  }
}
